*, *::after, *::before{
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Display regular';
    src: local('SF Pro Display regular'), url('../fonts/SFProDisplay-Regular.woff');
}

@font-face {
    font-family: 'SF Pro Display semibold';
    src: local('SF Pro Display semibold'), url('../fonts/SFProDisplay-Semibold.woff');
}

body{
    background: #F5F5F5;
    font-family: 'SF Pro Display regular', sans-serif;
    font-weight: 400;
}

.header{
    background: #FA8C16;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
    padding: 16px 0;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}    

.logo-link{
    display: flex;
    align-items: center;
}

.logo-img{
    fill: white;
    width: 48px;
    height: 13px;
}

.logo-img:hover{
    fill: #FAFAFA;
    width: 49px;
    height: 14px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.header-menu-item{
    margin-right: 15px;
}

.header-menu-item:last-child{
    margin-right: 0;
}

.header-menu-link{
    color: #FAFAFA;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.header-menu-link.active{
    font-family: 'SF Pro Display semibold';
    font-weight: 600;
}

.header-menu-link:hover{
    color: #FFFBE6;
    font-family: 'SF Pro Display semibold';
    font-weight: 600;
}

.input-group.search{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    justify-content: space-between;
    cursor: pointer;
    max-width: 237px;
    flex-wrap: nowrap;
}

.search-input{
    border: none;
    min-width: 192px;
}

.search-input::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}

.search-button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.search-icon{
    fill: #FA8C16;
    width: 14px;
    height: 14px;
}


/* content */
.content{
    padding-top: 125px;
}

/* post */
.posts{
    max-width: 800px;
    margin-right: 30px;
}

.post{
    background: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 30px;
}

.post-content{
    padding: 35px 36px;
    padding-bottom: 10px;
    border: 1px solid #E8E8E8;
    border-bottom: none;
}

.post-title{
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    font-family: 'SF Pro Display semibold';
    font-weight: 600;
    margin: 0;
    margin-bottom: 19px;
}

.post-text{
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.post-p{
    margin-bottom: 35px;
}

.post-p:last-child{
    margin-bottom: 22px;
}

.post-tags{
    display: flex;
    align-items: center;
}

.post-tag{
    margin-right: 10px;
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.post-tag:hover{
    color: #1890FF;
}

.post-tag:last-child{
    margin-right: 0;
    
}

/* post-footer */

.post-footer{
    padding: 13px;
    padding-left: 36px;
    padding-right: 20px;
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* buttons post */

.post-buttons{
    display: flex;
    align-items: center;
}

.post-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border:none;
    cursor: pointer;
    margin-right: 29px;
    text-decoration: none;
}

.post-button.like{
    width: 43px;
    height: 22px;
    background-image: url('../img/post-icons/like-icon.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

.post-button.like:hover{
    background-image: url('../img/post-icons/like-icon-hover.svg');
}

.post-button.comment{
    width: 53px;
    height: 22px;
    background-image: url('../img/post-icons/comment-icon.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

.post-button.comment:hover{
    background-image: url('../img/post-icons/comment-icon-hover.svg');
}

.button-counter.active{
    color: #1890FF;
}

.post-icon{
    background-repeat: no-repeat;
    background-position:  center center;
}

.like-icon{
    fill: #8C8C8C;

}

.like-icon:hover{
    fill: #1890FF;
}

.comment-icon{
    fill: #8C8C8C;
}
.comment-icon:hover{
    fill: #1890FF;
}

.save-icon{
    fill: #8C8C8C;
}

.save-icon:hover{
    fill: #1890FF;
}

.share-icon{
    fill: #8C8C8C;
}
.share-icon:hover{
    fill: #1890FF;
}

.user-icon{
    width: 24px;
    height: 26px;
}

.button-counter{
    margin-left: 7px;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    text-decoration: none;
}

.button-counter:hover{
    color: #1890FF;
}

.post-user{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.post-info{
    display: flex;
    flex-direction: column;
}

.user-info{
    margin-right: 16px;
    text-align: right;
}

.user-name, .user-time{
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;;
}

.user-name{
    color: #8C8C8C;
}

.post-avatar{
    width: 64px;
    height: 64px;
    background-image: url('../img/user1.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.sidebar{
    max-width: 830px;
}

.sidebar-menu{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 21px;
    border-right: none;
}

.sidebar-menu-header{
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: none;
    border-left: none;
}

/* user-head */
.user{
    text-decoration: none;
    display: flex;
    align-items: center;
}


.user-avatar{
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/user1.jpg');
    border-radius: 50%;
    margin-right: 20px;
}


.user-name{
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    font-family: 'SF Pro Display semibold';
    font-weight: 600;
}

.exit-icon{
    fill: #8C8C8C;
}

.exit-icon:hover{
    fill: #1890FF;
}
/* menu */

.menu-sidebar{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item-sidebar{
    padding: 16px 48px;
    cursor: pointer;
    border-right: 1px solid #E8E8E8;
}

.menu-link-sidebar{
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    text-decoration: none;
}

.menu-item-sidebar.active{
    background: #FFFBE6;
    border-right: 3px solid #FAAD14;
}

.menu-item-sidebar:hover{
    border-right: 3px solid #1890FF;
    font-weight: 600;
}

.menu-item-sidebar.active .menu-link-sidebar{
    color: #FAAD14;
}



/* sidebar button */
a.button-public{
    text-decoration: none;
    margin-bottom: 20px;
}


.fire-icon{
    margin-right: 6px;
}

.sidebar-button-text{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.sidebar-button:hover{
    background: #1890FF;
}

/* sidebar-notes */
.sidebar-notes{
    display: block;
    background: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
}

.sidebar-notes-header{
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-bottom: none;
    padding: 23px 25px;
}

.notes-title{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    font-weight: 400;
}


.sidebar-notes-content{
    border: 1px solid #E8E8E8;
    padding: 22px 40px 30px 25px;
    background: #FFFFFF;
}

.notes-subtitle{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
    margin-bottom: 10px;
}

.notes-text{
    max-width: 305px;;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #262626;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.sidebar-ads{
    text-decoration: none;
    display: block;
    background-image: url('../img/ads.jpg');
    max-height: 261px;
    height: 100%;
    border: 1px solid #E8E8E8;
}

.plate{
    background: #C4C4C4;
    padding: 2px 24px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


.ads-title{
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.sidebar-add{
    max-width: 370px;
    width: 100%;
}

/* ADD-POST */
.add-post{
    max-width: 800px;
    width: 100%;
}

.add-title{
    display: block;
    padding: 23px 31px;
    width: 100%;
    border: 1px solid #E8E8E8;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: 'SF Pro Display semibold';
    font-weight: 600;
    background-color: #fff;
    margin-bottom: 16px;
}

.add-title::placeholder{
    color: #000000;
}

.add-title:focus-visible, .add-text:focus-visible{
    border: 1px solid #1890FF;
}

textarea:focus, input:focus {
    outline: none;
}

.add-text{
    display: block;
    padding: 23px 31px;
    width: 100%;
    min-height: 362px;
    margin-bottom: 30px;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.new-post-group{
    display: flex;
    align-items: center;
}

.video-button{
    display: none;
}

.img-button{
    display: none;
}

.button-public{
    padding: 13px 18px;
    background: #FAAD14;
    border-radius: 4px;
    border: none;
    max-width: 370px;
    width: 100%;
    margin-right: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fire-icon{
    width: 12px;
    height: 14px;
    fill: #FFFFFF;
    margin-right: 7px;
}

.button-public span{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.button-add{
    padding: 13px 17px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    max-width: 125px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.button-add-last{
    margin-right: 0;
}

.icon-add{
    width: 14px;
    height: 11px;
    margin-right: 5px;
    fill: #FFC53D;
}

.button-add span{
    color: #FFC53D;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1024px){
    .header .wrapper{
        max-width: 900px;
    }
    .content.wrapper{
        max-width: 950px;
    }
    .posts{
        max-width: 630px;
    }
    .sidebar-ads{
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 768px){
    .header .wrapper{
        max-width: 700px;
    }
    .content{
        padding-top: 100px;
    }
    .content.wrapper{
        justify-content: center;
    }
    .sidebar{
        display: none;
    }

}

@media (max-width: 426px){
    .header .wrapper{
        max-width: 380px;
    }
    .header-nav{
        display: none;
    }
    .content.wrapper{
        max-width: 90%;
    }
    .posts{
        max-width: 95%;
        margin-right: 0;
    }
    .post-footer{
        flex-wrap: wrap;
    }
    .post-buttons{
        flex-basis: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .post-user{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .user-info{
        order: 2;
        margin-right: 0;
        text-align: left;
    }
    .post-avatar{
        order: 1;
        margin-right: 16px;
    }
}

@media(max-width: 376px){
    .header .wrapper{
        max-width: 305px;
    }
    .content{
        padding-top: 85px;
    }
    .content.wrapper{
        max-width: 98%;
    }
    .post-content{
        padding: 17px 19px;
    }
}